
* {
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
body {
  background:#0a0a0a;
  display: flex;
  flex-direction: column;
}
header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: rgb(9, 193, 74);
  margin-top: 10px;

}
nav .links {
  margin-right: 100px;
  display: flex;
  gap: 36px;
  font-weight:800;
  margin-top: 20px;
}
nav .links a {
padding: 5px;
border: solid transparent 1px;
border-radius: 25px;
transition: all 500ms ease;
}
nav .links a:hover {
  color: rgb(0, 145, 27);
  border: solid white 1px;
  transform: scale(1.9);  
}
.social {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.social a img {
  border: 1px solid transparent;
  border-radius: 15px ;
  transition: all 500ms;
}
.social a img:hover {
  border: 1px solid rgb(253, 253, 253);
  border-radius: 15px ;
  transform: scale(1.2);
}
.video-background {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}
video {
height: 100%;
width: 100%;
z-index: -1;
object-fit: cover;
}
.container {
height: 500px;

 
}






@media (max-width:600px) {
* {
.parent {
  flex-direction: column;
}
p {
  width: 100%;
}
}
}

@media (min-width:601px) and (max-width:800px) {
  * {
  .parent {
    flex-wrap: wrap;
  }
  p {
    width: 49%;
  }
  }
  }